@use "../util/" as u;

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: var(--color-bg);
    font-family: "Barlow", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: u.rem(73) u.rem(35);
}

main {
    max-width: u.rem(1114);
    width: 100%;
    display: grid;
    gap: u.rem(24);
    grid-template-columns: repeat(auto-fill, minmax(u.rem(255), 1fr));

    @include u.breakpoint(medium) {
        grid-template-columns: 1fr 1fr;
    }

    @include u.breakpoint(small) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}
